<div class="row">
  <div class="small-12 columns">
    <h2 class="text-center">There is your unique token.</h2>
    <p class="text-center"><%= @token %></p>
  </div>
</div>
<div class="row">
  <div class="small-8 small-push-2 columns">
    <%= link_to 'Continue', users_select_repos_path, class: 'expand large success button' %>
  </div>
</div>
