<div class="home">
  <div class="header">
    <div class="row">
      <div class="small-8 small-push-1 columns end">
        <h1>Work & play at the same time.</h1>
        <p>
          Increase your productivity and challenge your coworkers, while helping
          open-source community.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="small-8 small-push-1 columns">
        <%= link_to (fa_icon '2x github', text: "Sign in with Github"), user_omniauth_authorize_path(:github), class: "expand radius button" %>
      </div>
    </div>
  </div>
</div>
